body {
    font-family: Montserrat, 'sans-serif';
    margin: 0 auto;
    width: 80%;
    margin-top: 2em;
}

h1 {
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 1em;
}

#container {
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#h2O {
    color: #BD1D1E;
}

#h2X {
    color: #1D70BD;

}

#gamesX {
    text-align: center;
    color: #1D70BD;
    font-size: 1.3em;
}

#gamesO {
    text-align: center;
    color: #BD1D1E;
    font-size: 1.3em;
}

#board {
    max-width: 500px;
    max-height: 500px;
    width: 50%;
    height: 500px;
    margin: 0 auto;
    margin-bottom: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 0.2em;
    background-color: rgb(158, 158, 158);
    justify-content: center;
    align-items: center;
}

#board div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(219, 219, 219);
    width: 100%;
    height: 100%;
    cursor: pointer;
}


#board div.turn1:hover {
    background-color: rgb(93, 166, 235);
    transition: all 0.5s ease-out;
}

#board div.turn2:hover {
    background-color: rgb(235, 93, 93);
    transition: all 0.5s ease-out;
}

#board div.blue {
    background-color: #1D70BD;

}

#board div.red {
    background-color: #BD1D1E;

}

#board div.blue:hover {
    background-color: #1D70BD;
    cursor: not-allowed;
}

#board div.red:hover {
    background-color: #BD1D1E;
    cursor: not-allowed;
}

#board div.win {
    background-color: rgb(221, 208, 32);
}

div img {
    width: 50%;
    height: 50%;
    align-self: center;
}

#winDiv {
    top: 7%;
    width: 44%;
    height: 557px;
    padding-bottom: 2em;
    background-color: rgb(79, 21, 146, 0.8);
    border-radius: 1em;
    color: white;
    position: absolute;
    left: 28%;
    -webkit-animation: fadein 2s;
}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#winDiv h1 {
    font-size: 3em;
    position: absolute;
    top: 26%;
}

#winDiv p {
    padding: 19%;
    text-align: center;
}

#winDiv span {
    background-color: white;
    color: rgb(79, 21, 146);
    border-radius: 1em;
    padding: 2em;
    cursor: pointer;
    position: absolute;
    bottom: 17%;
}

#winDiv span:hover {
    background-color: rgb(126, 38, 226);
    color: white;
}

/* CLASSES */
.dissapear {

    display: none;
}

.appear {

    display: flex;
    justify-content: center;
    align-items: center;
}

.title {

    font-size: 3em;
}

/* ELEMENTS */

img {
    border: none;
    width: 98%;
    height: 98%;
}

#restartDivs {

    width: 40%;
    display: flex;
    margin: 0 auto;
}

.restartButtons {
    width: fit-content;
    padding: 1em;
    margin: 0 auto;

}

.restartButtons:hover {
    background-color: rgb(219, 219, 219);
    color: rgb(99, 99, 99);
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.restartButtons:active {
    background-color: rgb(51, 51, 51);
    color: white;
    transition: none;

}